.red {
    background-color:  #c4302b;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
   
  }
  
  a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }
  
    
  /* STRUCTURE */
  
  .wrapper {
    display: flex;
    align-items: left;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-image: url('images/sfondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 600px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
    font-size: large;
  }
  
  #formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
  }
  
  #formula {
  	height: 800px;
  	width: 600px;
  	
  }
 
	.container-image {
		height: 800px;
		width: 600px;
	}